<h1>FAQs</h1><br /> <br />
<div class="row">
	<div class="col-lg-12 faq-box">
		<h3>FAQs</h3>
		<ul>
			<li>
				<h5>How do I schedule an appointment?</h5>
				<p>Go to the "Schedule an appointment" tab and fill out the details.</p>
			</li>
			<li>
				<h5>How do I schedule an art tour?</h5>
				<p>Go to the "Art Gallery" tab and click "schedule a tour".</p>
			</li>
			<li>
				<h5>What are your hours?</h5>
				<p>We are open Monday - Friday, 7am-6pm.</p>
			</li>
		</ul>
	</div>
</div>
<div class="row">
	<div class="col-lg-12 faq-box">
		<h3>Pictures</h3>
		<img class="faq-photo" src="https://images.unsplash.com/photo-1457342813143-a1ae27448a82?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjQyNjIzfQ&s=7dfec9e8ecdb11488ad4d0e299be5412" 
		alt="photo">
		<img class="faq-photo" src="https://images.unsplash.com/photo-1532706302136-347336b002ec?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjQyNjIzfQ&s=9fe4f6c4533cd2ccbcc9eee52f67a042" 
		alt="photo">
		<img class="faq-photo" src="https://images.unsplash.com/photo-1522033925639-f0e0e9efb233?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjQyNjIzfQ&s=6077997b752acdb5c45fa0f8167368b6" 
		alt="photo">
		<img class="faq-photo" src="https://images.unsplash.com/photo-1528218635780-5952720c9729?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjQyNjIzfQ&s=9ef00729c45abe3f71f196564187ad02" 
		alt="photo">
		<img class="faq-photo" src="https://images.unsplash.com/photo-1538040188389-b55da4e2bfd5?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjQyNjIzfQ&s=c51f80676c09918150505ee95241f200" 
		alt="photo">
		<img class="faq-photo" src="https://images.unsplash.com/photo-1493894473891-10fc1e5dbd22?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjQyNjIzfQ&s=48adfa0abc9d89980fcab088a524de57" 
		alt="photo">
		
	</div>
</div>
<div class="row">
	<div class="col-lg-12 faq-box">
		<h3>Videos</h3>
		<iframe width="560" height="315" src="https://www.youtube.com/embed/7nw-QA_-ED8" frameborder="0" 
		allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
		allowfullscreen></iframe>
		<br />
		<iframe width="560" height="315" src="https://www.youtube.com/embed/nR9QIyLDFog" frameborder="0" 
		allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		<br />
		<iframe width="560" height="315" src="https://www.youtube.com/embed/g_8Wv-hUFp4" frameborder="0" 
		allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		<br />
	</div>
</div>