<div class="row">
	<div class="col-lg-12 text-center news">
		<h1>News!</h1>
		<script src="//rss.bloople.net/?url=https%3A%2F%2Fnews.google.com%2Fnews%2Frss%2Fsearch%2Fsection%2Fq%2Fpediatrics%3Fned%3Dus%26gl%3DUS%26hl%3Den&detail=100&showtitle=false&type=js"></script>
	</div>
</div>
<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="apptDesc"></div>
        <div id="apptDate"></div>
        <div id="apptTime"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<button id="confirmButton" type="button" class="btn btn-primary" data-toggle="modal" data-target="#confirmModal" style="display:none;">
  Launch demo modal
</button>
<script>
    function getUrlVars() {
        var vars = {};
        var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) {
            vars[key] = value;
        });
        return vars;
    }
    var appt = getUrlVars()["appt"];
    $("#apptDate").text(getUrlVars()["apptDate"]);
    $("#apptTime").text(getUrlVars()["apptTime"]);
    if (appt == 1) {
        $("#apptDesc").text("Your doctor's appointment has been scheduled for:");
        document.getElementById("confirmButton").click();
    }
    if (appt == 2) {
        $("#apptDesc").text("Your art pickup appointment has been scheduled for:");
        document.getElementById("confirmButton").click();
    }
    if (appt == 3) {
        $("#apptDesc").text("Your art gallery tour has been scheduled for:");
        document.getElementById("confirmButton").click();
    }
</script>