<div class="row">
	<div class="col-lg-12 text-center">
		<h1>Art Gallery</h1>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<a href="/tour" class="btn btn-primary">Schedule a tour</a> <br /> <br />
	<% @arts.each do |a| %>
		<div class="card" style="width: 18rem;">
		  <img class="card-img-top" src="<%= a.link %>" alt="Card image cap">
		  <div class="card-body">
		    <h5 class="card-title"><%= a.title %></h5>
		    <h6 class="card-subtitle mb-2 text-muted"><%= a.artist %></h6>
		    <a href="<%= '/arts/' + a.id.to_s %>" class="card-link">Purchase</a>
		  </div>
		</div>
	<% end %>
</div>


