<h1>Add art</h1>
<a href="/gallery" class="btn btn-primary nav-button" ><i class="fa fa-arrow-left"></i> Back</a>
<br> <br>
<div class="row">
	<div class="col-lg-12">
	    <%= form_for(@art) do |f| %>
	      <label>Title</label>
	      <%= f.text_field :title, :class => "form-control" %> <br>
	      <label>Artist</label>
	      <%= f.text_field :artist, :class => "form-control" %> <br>
	      <label>Image link</label>
	      <%= f.text_field :link, :class => "form-control" %> <br>
	      <label>Price</label>
	      <%= f.number_field :price, :class => "form-control" %> <br>
	      <%= f.submit "Add", class: "btn btn-success add-hours" %>
	    <% end %>
	</div>
</div>