<h1>Purchase <%= @art.title %></h1>
<a href="/gallery" class="btn btn-primary nav-button" ><i class="fa fa-arrow-left"></i> Back</a>
<br> <br>
<%= form_for(@appointment) do |f| %>
	<% if params["no_time"] %>
		<div class="alert alert-danger" role="alert">
		  Please fill out all fields!
		</div>
	<% end %>
<div class="row">
	<div class="col-lg-6">
	    <%= f.hidden_field :kind, value: 2 %>
	      <label>Select a Date</label>
	      <%= f.date_field :date, :class => "form-control" %> <br>
	      <label>Select a Time</label>
	      <%= f.time_field :time, :class => "form-control" %> <br>
	</div>
	<div class="col-lg-6">
	      <label>First Name</label>
	      <%= f.text_field :first_name, :class => "form-control" %> <br>
	      <label>Last Name</label>
	      <%= f.text_field :last_name, :class => "form-control" %> <br>
	      <label>Your Email</label>
	      <%= f.email_field :email, :class => "form-control" %> <br>
	</div>
	      <%= f.submit "Confirm", class: "btn btn-success add-hours" %>
	    <% end %>
</div>