/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.faq-box {
    border: 1px solid black;
}

.news table {
    text-align: left;
    border: 1px solid black;
    width: 100%;
}
.news table td {
    padding: 5px;
}
.feed-item-title {
    display: none;
}
.faq-photo {
    width: 18rem;
    margin:5px;
    border-radius:5px;
}
 .hidden {
 	display:none;
 }
 .alert-span {
    position: absolute;
    top: 100px;
    right: 10px;
    width:500px;
    z-index:9;
 }
 .alert-danger {
     width:450px;   
 }
 .error-alert {
 	position: relative;
 }
 .error-alert button {
     float:none;
 }
